Windows Phone/Zoikit.WP/Hangout.Client/Service References/CategoryService/CategoryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Category" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Category" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserCategory" nillable="true" type="tns:UserCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserCategory" nillable="true" type="tns:ArrayOfUserCategory" />
  <xs:complexType name="UserCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Category" />
      <xs:element minOccurs="0" name="Following" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserCategory" nillable="true" type="tns:UserCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PicURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
</xs:schema>