Windows Phone/Zoikit.WP/Hangout.Client/Service References/UserService/UserService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.User" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.User" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:81/Core/User/UserService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Status" />
  <xs:complexType name="CompleteUserProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="AboutUs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="BadgeCount" type="xs:int" />
      <xs:element minOccurs="0" name="BuzzCount" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryCount" type="xs:int" />
      <xs:element minOccurs="0" name="CommonItems" type="xs:int" />
      <xs:element minOccurs="0" name="Distance" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="FollowersCount" type="xs:int" />
      <xs:element minOccurs="0" name="FollowingCount" type="xs:int" />
      <xs:element minOccurs="0" name="Gender" type="xs:boolean" />
      <xs:element minOccurs="0" name="InterestCount" type="xs:int" />
      <xs:element minOccurs="0" name="IsFollowing" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilePicURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rank" type="xs:int" />
      <xs:element minOccurs="0" name="RelationshipStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reps" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Status" minOccurs="0" name="Status" nillable="true" type="q1:Status" />
      <xs:element minOccurs="0" name="TrophyCount" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="VenueCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompleteUserProfile" nillable="true" type="tns:CompleteUserProfile" />
  <xs:complexType name="Rep">
    <xs:sequence>
      <xs:element minOccurs="0" name="Rank" type="xs:int" />
      <xs:element minOccurs="0" name="Reps" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rep" nillable="true" type="tns:Rep" />
</xs:schema>