Windows Phone/Zoikit.WP/Hangout.Client/Service References/TwitterService/TwitterService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:81/Core/Account/TwitterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Accounts" />
  <xs:import schemaLocation="http://127.0.0.1:81/Core/Account/TwitterService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Accounts" />
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accesstoken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accessTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Accounts" minOccurs="0" name="RegisterUserResult" type="q1:AccountStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTwitterData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="accesstoken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accessTokenSecret" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTwitterDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Accounts" minOccurs="0" name="UpdateTwitterDataResult" type="q2:AccountStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTwitterData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTwitterDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Accounts" minOccurs="0" name="GetTwitterDataResult" nillable="true" type="q3:TwitterData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accesstoken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accessTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Accounts" minOccurs="0" name="GetUserDataResult" nillable="true" type="q4:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostTweet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accesstoken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accessTokenSecret" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tweet" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostTweetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>