Windows Phone/Zoikit.WP/Hangout.Client/Service References/TwitterService/TwitterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TwitterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:81/Core/Account/TwitterService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:81/Core/Account/TwitterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:81/Core/Account/TwitterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Accounts" />
      <xsd:import schemaLocation="http://127.0.0.1:81/Core/Account/TwitterService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Accounts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITwitterService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="ITwitterService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITwitterService_UpdateTwitterData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTwitterData" />
  </wsdl:message>
  <wsdl:message name="ITwitterService_UpdateTwitterData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTwitterDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITwitterService_GetTwitterData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTwitterData" />
  </wsdl:message>
  <wsdl:message name="ITwitterService_GetTwitterData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTwitterDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITwitterService_GetUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserData" />
  </wsdl:message>
  <wsdl:message name="ITwitterService_GetUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITwitterService_PostTweet_InputMessage">
    <wsdl:part name="parameters" element="tns:PostTweet" />
  </wsdl:message>
  <wsdl:message name="ITwitterService_PostTweet_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostTweetResponse" />
  </wsdl:message>
  <wsdl:portType name="ITwitterService">
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwitterService/RegisterUser" message="tns:ITwitterService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwitterService/RegisterUserResponse" message="tns:ITwitterService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTwitterData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwitterService/UpdateTwitterData" message="tns:ITwitterService_UpdateTwitterData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwitterService/UpdateTwitterDataResponse" message="tns:ITwitterService_UpdateTwitterData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTwitterData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwitterService/GetTwitterData" message="tns:ITwitterService_GetTwitterData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwitterService/GetTwitterDataResponse" message="tns:ITwitterService_GetTwitterData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwitterService/GetUserData" message="tns:ITwitterService_GetUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwitterService/GetUserDataResponse" message="tns:ITwitterService_GetUserData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostTweet">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwitterService/PostTweet" message="tns:ITwitterService_PostTweet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwitterService/PostTweetResponse" message="tns:ITwitterService_PostTweet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITwitterService" type="tns:ITwitterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/ITwitterService/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTwitterData">
      <soap:operation soapAction="http://tempuri.org/ITwitterService/UpdateTwitterData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTwitterData">
      <soap:operation soapAction="http://tempuri.org/ITwitterService/GetTwitterData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserData">
      <soap:operation soapAction="http://tempuri.org/ITwitterService/GetUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostTweet">
      <soap:operation soapAction="http://tempuri.org/ITwitterService/PostTweet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TwitterService">
    <wsdl:port name="BasicHttpBinding_ITwitterService" binding="tns:BasicHttpBinding_ITwitterService">
      <soap:address location="http://127.0.0.1:81/Core/Account/TwitterService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>