Windows Phone/Zoikit.WP/Hangout.Client/Service References/UserScoreService/UserScoreService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:81/Core/Score/UserScoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Model" />
  <xs:element name="IncreaseUserScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="scoreInc" type="xs:int" />
        <xs:element minOccurs="0" name="accesstoken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncreaseUserScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hangout.Web.Model" minOccurs="0" name="IncreaseUserScoreResult" nillable="true" type="q1:UserScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecreaseUserScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="scoreDec" type="xs:int" />
        <xs:element minOccurs="0" name="accesstoken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecreaseUserScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hangout.Web.Model" minOccurs="0" name="DecreaseUserScoreResult" nillable="true" type="q2:UserScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastScoreResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDefaultScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="accesstoken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDefaultScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hangout.Web.Model" minOccurs="0" name="InsertDefaultScoreResult" nillable="true" type="q3:UserScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="score" type="xs:int" />
        <xs:element minOccurs="0" name="scoreChange" type="xs:int" />
        <xs:element minOccurs="0" name="accesstoken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hangout.Web.Model" minOccurs="0" name="InsertScoreResult" nillable="true" type="q4:UserScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>