Windows Phone/Zoikit.WP/Hangout.Client/Service References/UserScoreService/UserScoreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserScoreService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:81/Core/Score/UserScoreService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:81/Core/Score/UserScoreService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:81/Core/Score/UserScoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Model" />
      <xsd:import schemaLocation="http://127.0.0.1:81/Core/Score/UserScoreService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://127.0.0.1:81/Core/Score/UserScoreService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserScoreService_IncreaseUserScore_InputMessage">
    <wsdl:part name="parameters" element="tns:IncreaseUserScore" />
  </wsdl:message>
  <wsdl:message name="IUserScoreService_IncreaseUserScore_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncreaseUserScoreResponse" />
  </wsdl:message>
  <wsdl:message name="IUserScoreService_DecreaseUserScore_InputMessage">
    <wsdl:part name="parameters" element="tns:DecreaseUserScore" />
  </wsdl:message>
  <wsdl:message name="IUserScoreService_DecreaseUserScore_OutputMessage">
    <wsdl:part name="parameters" element="tns:DecreaseUserScoreResponse" />
  </wsdl:message>
  <wsdl:message name="IUserScoreService_GetLastScore_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastScore" />
  </wsdl:message>
  <wsdl:message name="IUserScoreService_GetLastScore_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastScoreResponse" />
  </wsdl:message>
  <wsdl:message name="IUserScoreService_InsertDefaultScore_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDefaultScore" />
  </wsdl:message>
  <wsdl:message name="IUserScoreService_InsertDefaultScore_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDefaultScoreResponse" />
  </wsdl:message>
  <wsdl:message name="IUserScoreService_InsertScore_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertScore" />
  </wsdl:message>
  <wsdl:message name="IUserScoreService_InsertScore_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertScoreResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserScoreService">
    <wsdl:operation name="IncreaseUserScore">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserScoreService/IncreaseUserScore" message="tns:IUserScoreService_IncreaseUserScore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserScoreService/IncreaseUserScoreResponse" message="tns:IUserScoreService_IncreaseUserScore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DecreaseUserScore">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserScoreService/DecreaseUserScore" message="tns:IUserScoreService_DecreaseUserScore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserScoreService/DecreaseUserScoreResponse" message="tns:IUserScoreService_DecreaseUserScore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastScore">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserScoreService/GetLastScore" message="tns:IUserScoreService_GetLastScore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserScoreService/GetLastScoreResponse" message="tns:IUserScoreService_GetLastScore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDefaultScore">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserScoreService/InsertDefaultScore" message="tns:IUserScoreService_InsertDefaultScore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserScoreService/InsertDefaultScoreResponse" message="tns:IUserScoreService_InsertDefaultScore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertScore">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserScoreService/InsertScore" message="tns:IUserScoreService_InsertScore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserScoreService/InsertScoreResponse" message="tns:IUserScoreService_InsertScore_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserScoreService" type="tns:IUserScoreService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IncreaseUserScore">
      <soap:operation soapAction="http://tempuri.org/IUserScoreService/IncreaseUserScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecreaseUserScore">
      <soap:operation soapAction="http://tempuri.org/IUserScoreService/DecreaseUserScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastScore">
      <soap:operation soapAction="http://tempuri.org/IUserScoreService/GetLastScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDefaultScore">
      <soap:operation soapAction="http://tempuri.org/IUserScoreService/InsertDefaultScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertScore">
      <soap:operation soapAction="http://tempuri.org/IUserScoreService/InsertScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserScoreService">
    <wsdl:port name="BasicHttpBinding_IUserScoreService" binding="tns:BasicHttpBinding_IUserScoreService">
      <soap:address location="http://127.0.0.1:81/Core/Score/UserScoreService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>