Windows Phone/Zoikit.WP - Iteration 1/Hangout.Client/Service References/NotificationService/NotificationService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Accounts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Accounts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.50:8082/Windows/Notification/NotificationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfCompactUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompactUser" nillable="true" type="tns:CompactUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompactUser" nillable="true" type="tns:ArrayOfCompactUser" />
  <xs:complexType name="CompactUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilePicURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompactUser" nillable="true" type="tns:CompactUser" />
</xs:schema>