Windows Phone/Zoikit.WP - Iteration 1/Hangout.Client/Service References/AppAuthenticationService/AppAuthentication1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Accounts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Accounts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://169.254.80.80:8082/Windows/Account/AppAuthentication.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Accounts" />
  <xs:complexType name="AppAuthenticationTag">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Accounts" minOccurs="0" name="Status" type="q1:AccountStatus" />
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppAuthenticationTag" nillable="true" type="tns:AppAuthenticationTag" />
</xs:schema>