Windows Phone/Zoikit.WP - Iteration 1/Hangout.Client/Service References/BuzzService/BuzzService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.50:8082/Windows/Buzz/BuzzService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://192.168.1.50:8082/Windows/Buzz/BuzzService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.1.50:8082/Windows/Buzz/BuzzService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Buzz" />
  <xs:import schemaLocation="http://192.168.1.50:8082/Windows/Buzz/BuzzService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Follow" />
  <xs:import schemaLocation="http://192.168.1.50:8082/Windows/Buzz/BuzzService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Buzz" />
  <xs:import schemaLocation="http://192.168.1.50:8082/Windows/Buzz/BuzzService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Accounts" />
  <xs:element name="HasNewBuzz">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cityId" type="q2:guid" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="lastBuzzId" type="q3:guid" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasNewBuzzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HasNewBuzzResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzz">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q4:guid" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skipList" nillable="true" type="q5:ArrayOfguid" />
        <xs:element minOccurs="0" name="lat" type="xs:double" />
        <xs:element minOccurs="0" name="lon" type="xs:double" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cityId" type="q6:guid" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Buzz" minOccurs="0" name="GetBuzzResult" nillable="true" type="q7:ArrayOfBuzz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzzFollowed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q8:guid" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skipList" nillable="true" type="q9:ArrayOfguid" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzzFollowedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Buzz" minOccurs="0" name="GetBuzzFollowedResult" nillable="true" type="q10:ArrayOfBuzz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FollowBuzz">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q11:guid" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="buzzId" type="q12:guid" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FollowBuzzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Follow" minOccurs="0" name="FollowBuzzResult" type="q13:FollowResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnfollowBuzz">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q14:guid" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="buzzId" type="q15:guid" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnfollowBuzzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Follow" minOccurs="0" name="UnfollowBuzzResult" type="q16:FollowResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzzBefore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="buzzId" type="q17:guid" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q18:guid" />
        <xs:element minOccurs="0" name="lat" type="xs:double" />
        <xs:element minOccurs="0" name="lon" type="xs:double" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cityId" type="q19:guid" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzzBeforeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Buzz" minOccurs="0" name="GetBuzzBeforeResult" nillable="true" type="q20:ArrayOfBuzz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzzFollowedByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="meId" type="q21:guid" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q22:guid" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skipList" nillable="true" type="q23:ArrayOfguid" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzzFollowedByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Buzz" minOccurs="0" name="GetBuzzFollowedByUserResult" nillable="true" type="q24:ArrayOfBuzz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalBuzzByTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q25:guid" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="tagId" type="q26:guid" />
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cityId" type="q27:guid" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skipList" nillable="true" type="q28:ArrayOfguid" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalBuzzByTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Buzz" minOccurs="0" name="GetLocalBuzzByTagResult" nillable="true" type="q29:ArrayOfBuzz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzzByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q30:guid" />
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="buzzId" type="q31:guid" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzzByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Buzz" minOccurs="0" name="GetBuzzByIDResult" nillable="true" type="q32:Buzz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzzComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q33:guid" />
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="buzzId" type="q34:guid" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skipList" nillable="true" type="q35:ArrayOfguid" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzzCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Buzz" minOccurs="0" name="GetBuzzCommentsResult" nillable="true" type="q36:ArrayOfBuzzComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBuzzComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q37:guid" />
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="buzzId" type="q38:guid" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="lastCommentId" type="q39:guid" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBuzzCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Buzz" minOccurs="0" name="AddBuzzCommentResult" nillable="true" type="q40:ArrayOfBuzzComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBuzz">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q41:guid" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lat" type="xs:double" />
        <xs:element minOccurs="0" name="lon" type="xs:double" />
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cityId" type="q42:guid" />
        <xs:element minOccurs="0" name="imageURi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBuzzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Buzz" minOccurs="0" name="InsertBuzzResult" type="q43:BuzzSaveStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBuzz">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q44:guid" />
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="buzzId" type="q45:guid" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lat" type="xs:double" />
        <xs:element minOccurs="0" name="lon" type="xs:double" />
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cityId" type="q46:guid" />
        <xs:element minOccurs="0" name="imageURi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBuzzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Buzz" minOccurs="0" name="UpdateBuzzResult" type="q47:BuzzSaveStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBuzz">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q48:guid" />
        <xs:element minOccurs="0" name="searchtext" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skipList" nillable="true" type="q49:ArrayOfguid" />
        <xs:element minOccurs="0" name="lat" type="xs:double" />
        <xs:element minOccurs="0" name="lon" type="xs:double" />
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cityId" type="q50:guid" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBuzzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Buzz" minOccurs="0" name="SearchBuzzResult" nillable="true" type="q51:ArrayOfBuzz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastBuzz">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q52:guid" />
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="meId" type="q53:guid" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastBuzzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Buzz" minOccurs="0" name="GetLastBuzzResult" nillable="true" type="q54:Buzz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersWhoLikeBuzz">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q55:guid" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skipList" nillable="true" type="q56:ArrayOfguid" />
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="buzzId" type="q57:guid" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersWhoLikeBuzzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Accounts" minOccurs="0" name="GetUsersWhoLikeBuzzResult" nillable="true" type="q58:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBuzz">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q59:guid" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element xmlns:q60="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skipList" nillable="true" type="q60:ArrayOfguid" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBuzzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Buzz" minOccurs="0" name="GetUserBuzzResult" nillable="true" type="q61:ArrayOfBuzz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandingPageBuzz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lat" type="xs:double" />
        <xs:element minOccurs="0" name="lon" type="xs:double" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skipList" nillable="true" type="q62:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandingPageBuzzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Buzz" minOccurs="0" name="GetLandingPageBuzzResult" nillable="true" type="q63:ArrayOfBuzz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersWhoAmplify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="buzzId" type="q64:guid" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skipList" nillable="true" type="q65:ArrayOfguid" />
        <xs:element minOccurs="0" name="amplify" type="xs:boolean" />
        <xs:element xmlns:q66="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userid" type="q66:guid" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersWhoAmplifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Accounts" minOccurs="0" name="GetUsersWhoAmplifyResult" nillable="true" type="q67:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Amplify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="buzzId" type="q68:guid" />
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q69:guid" />
        <xs:element minOccurs="0" name="amplify" type="xs:boolean" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AmplifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Buzz" minOccurs="0" name="AmplifyResult" type="q70:AmplifyStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoAmplification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="buzzId" type="q71:guid" />
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q72:guid" />
        <xs:element minOccurs="0" name="amplify" type="xs:boolean" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoAmplificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Buzz" minOccurs="0" name="UndoAmplificationResult" type="q73:AmplifyStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeAmplifyCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="buzzId" type="q74:guid" />
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q75:guid" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeAmplifyCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeAmplifyCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmplifyCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="buzzId" type="q76:guid" />
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q77:guid" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmplifyCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAmplifyCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userid" type="q78:guid" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadImageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzzCommentsBefore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q79:guid" />
        <xs:element xmlns:q80="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="buzzId" type="q80:guid" />
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="lastCommentId" type="q81:guid" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzzCommentsBeforeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Buzz" minOccurs="0" name="GetBuzzCommentsBeforeResult" nillable="true" type="q82:ArrayOfBuzzComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>