Windows Phone/Zoikit.WP - Iteration 1/Hangout.Client/Service References/DiscoverService/DiscoverService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Discover" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Discover" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.50:8082/Windows/Discover/DiscoverService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Tag" />
  <xs:import schemaLocation="http://192.168.1.50:8082/Windows/Discover/DiscoverService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Accounts" />
  <xs:complexType name="ArrayOfDiscoverObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DiscoverObj" nillable="true" type="tns:DiscoverObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiscoverObj" nillable="true" type="tns:ArrayOfDiscoverObj" />
  <xs:complexType name="DiscoverObj">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Tag" minOccurs="0" name="Tag" nillable="true" type="q1:UserTag" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Accounts" minOccurs="0" name="User" nillable="true" type="q2:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiscoverObj" nillable="true" type="tns:DiscoverObj" />
</xs:schema>