Windows Phone/Zoikit.WP/Hangout.Client/Service References/VenueService/VenueService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:81/Core/Location/VenueService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Locations" />
  <xs:import schemaLocation="http://127.0.0.1:81/Core/Location/VenueService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Follow" />
  <xs:import schemaLocation="http://127.0.0.1:81/Core/Location/VenueService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://127.0.0.1:81/Core/Location/VenueService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Accounts" />
  <xs:import schemaLocation="http://127.0.0.1:81/Core/Location/VenueService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Location" />
  <xs:element name="GetRecommenededVenues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="latitude" type="xs:double" />
        <xs:element minOccurs="0" name="longitude" type="xs:double" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecommenededVenuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Locations" minOccurs="0" name="GetRecommenededVenuesResult" nillable="true" type="q1:ArrayOfVenue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchVenues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="latitude" type="xs:double" />
        <xs:element minOccurs="0" name="longitude" type="xs:double" />
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchVenuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Locations" minOccurs="0" name="SearchVenuesResult" nillable="true" type="q2:ArrayOfVenue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FollowVenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="venueId" type="xs:int" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FollowVenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Follow" minOccurs="0" name="FollowVenueResult" type="q3:FollowResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnfollowVenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="venueId" type="xs:int" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnfollowVenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Follow" minOccurs="0" name="UnfollowVenueResult" type="q4:FollowResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFollowing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="venueid" type="xs:int" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFollowingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsFollowingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFollowersUserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="venueid" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skip" nillable="true" type="q5:ArrayOfint" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFollowersUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Accounts" minOccurs="0" name="GetFollowersUserListResult" nillable="true" type="q6:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoOfFollowers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="venueid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoOfFollowersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNoOfFollowersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVenueFollowing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skipList" nillable="true" type="q7:ArrayOfint" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVenueFollowingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Locations" minOccurs="0" name="GetVenueFollowingResult" nillable="true" type="q8:ArrayOfVenue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVenueFollowingByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skipList" nillable="true" type="q9:ArrayOfint" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVenueFollowingByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Locations" minOccurs="0" name="GetVenueFollowingByUserResult" nillable="true" type="q10:ArrayOfVenue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVenueByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="lat" type="xs:double" />
        <xs:element minOccurs="0" name="lon" type="xs:double" />
        <xs:element minOccurs="0" name="venueId" type="xs:int" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVenueByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Locations" minOccurs="0" name="GetVenueByIDResult" nillable="true" type="q11:Venue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCheckedIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="venueId" type="xs:int" />
        <xs:element minOccurs="0" name="lat" type="xs:double" />
        <xs:element minOccurs="0" name="lon" type="xs:double" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCheckedInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsCheckedInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanCheckedIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="venueId" type="xs:int" />
        <xs:element minOccurs="0" name="lat" type="xs:double" />
        <xs:element minOccurs="0" name="lon" type="xs:double" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanCheckedInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CanCheckedInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Checkout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="venueId" type="xs:int" />
        <xs:element minOccurs="0" name="intended" type="xs:boolean" />
        <xs:element minOccurs="0" name="lat" type="xs:double" />
        <xs:element minOccurs="0" name="lon" type="xs:double" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Location" minOccurs="0" name="CheckoutResult" type="q12:CheckInStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCheckedOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="venueId" type="xs:int" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCheckedOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsCheckedOutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="venueId" type="xs:int" />
        <xs:element minOccurs="0" name="lat" type="xs:double" />
        <xs:element minOccurs="0" name="lon" type="xs:double" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Location" minOccurs="0" name="CheckInResult" type="q13:CheckInStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearbyVenues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="latitude" type="xs:double" />
        <xs:element minOccurs="0" name="longitude" type="xs:double" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearbyVenuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Locations" minOccurs="0" name="GetNearbyVenuesResult" nillable="true" type="q14:ArrayOfVenue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>