Windows Phone/Zoikit.WP - Iteration 1/Hangout.Client/Service References/TextService/TextService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Text" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Text" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.50:8082/Windows/Text/TextService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Accounts" />
  <xs:import schemaLocation="http://192.168.1.50:8082/Windows/Text/TextService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="UserText">
    <xs:sequence>
      <xs:element minOccurs="0" name="Texts" nillable="true" type="tns:ArrayOfText" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Accounts" minOccurs="0" name="User" nillable="true" type="q1:CompactUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserText" nillable="true" type="tns:UserText" />
  <xs:complexType name="ArrayOfText">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Text" nillable="true" type="tns:Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfText" nillable="true" type="tns:ArrayOfText" />
  <xs:complexType name="Text">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MarkAsRead" type="xs:boolean" />
      <xs:element minOccurs="0" name="TextId" type="ser:guid" />
      <xs:element minOccurs="0" name="TextMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Accounts" minOccurs="0" name="User" nillable="true" type="q2:CompactUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Text" nillable="true" type="tns:Text" />
</xs:schema>