Windows Phone/Zoikit.WP/Hangout.Client/Service References/NotificationService/NotificationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotificationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:81/Core/Notification/NotificationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:81/Core/Notification/NotificationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:81/Core/Notification/NotificationService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://127.0.0.1:81/Core/Notification/NotificationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Notification" />
      <xsd:import schemaLocation="http://127.0.0.1:81/Core/Notification/NotificationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Accounts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotificationService_MarkAllAsRead_InputMessage">
    <wsdl:part name="parameters" element="tns:MarkAllAsRead" />
  </wsdl:message>
  <wsdl:message name="INotificationService_MarkAllAsRead_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarkAllAsReadResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotifications" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetNotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotification" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetLastUnReadNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastUnReadNotification" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetLastUnReadNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastUnReadNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetUnreadNotificationCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnreadNotificationCount" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetUnreadNotificationCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnreadNotificationCountResponse" />
  </wsdl:message>
  <wsdl:portType name="INotificationService">
    <wsdl:operation name="MarkAllAsRead">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/MarkAllAsRead" message="tns:INotificationService_MarkAllAsRead_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/MarkAllAsReadResponse" message="tns:INotificationService_MarkAllAsRead_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotifications">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/GetNotifications" message="tns:INotificationService_GetNotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/GetNotificationsResponse" message="tns:INotificationService_GetNotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/GetNotification" message="tns:INotificationService_GetNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/GetNotificationResponse" message="tns:INotificationService_GetNotification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastUnReadNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/GetLastUnReadNotification" message="tns:INotificationService_GetLastUnReadNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/GetLastUnReadNotificationResponse" message="tns:INotificationService_GetLastUnReadNotification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnreadNotificationCount">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/GetUnreadNotificationCount" message="tns:INotificationService_GetUnreadNotificationCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/GetUnreadNotificationCountResponse" message="tns:INotificationService_GetUnreadNotificationCount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INotificationService" type="tns:INotificationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MarkAllAsRead">
      <soap:operation soapAction="http://tempuri.org/INotificationService/MarkAllAsRead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotifications">
      <soap:operation soapAction="http://tempuri.org/INotificationService/GetNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotification">
      <soap:operation soapAction="http://tempuri.org/INotificationService/GetNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastUnReadNotification">
      <soap:operation soapAction="http://tempuri.org/INotificationService/GetLastUnReadNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnreadNotificationCount">
      <soap:operation soapAction="http://tempuri.org/INotificationService/GetUnreadNotificationCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificationService">
    <wsdl:port name="BasicHttpBinding_INotificationService" binding="tns:BasicHttpBinding_INotificationService">
      <soap:address location="http://127.0.0.1:81/Core/Notification/NotificationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>