Windows Phone/Zoikit.WP - Iteration 1/Hangout.Client/Service References/UserService/UserService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.50:8082/Windows/User/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.50:8082/Windows/User/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.50:8082/Windows/User/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Follow" />
      <xsd:import schemaLocation="http://192.168.1.50:8082/Windows/User/UserService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://192.168.1.50:8082/Windows/User/UserService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Accounts" />
      <xsd:import schemaLocation="http://192.168.1.50:8082/Windows/User/UserService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.User" />
      <xsd:import schemaLocation="http://192.168.1.50:8082/Windows/User/UserService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Locations" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_FollowUser_InputMessage">
    <wsdl:part name="parameters" element="tns:FollowUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_FollowUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:FollowUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UnfollowUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UnfollowUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_UnfollowUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnfollowUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsersFollowing_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersFollowing" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsersFollowing_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersFollowingResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsersFollowed_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersFollowed" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsersFollowed_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersFollowedResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserCompleteProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserCompleteProfile" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserCompleteProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserCompleteProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetLocalFollowersByTag_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalFollowersByTag" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetLocalFollowersByTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalFollowersByTagResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_SearchUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_SearchUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="FollowUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/FollowUser" message="tns:IUserService_FollowUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/FollowUserResponse" message="tns:IUserService_FollowUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnfollowUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UnfollowUser" message="tns:IUserService_UnfollowUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UnfollowUserResponse" message="tns:IUserService_UnfollowUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersFollowing">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUsersFollowing" message="tns:IUserService_GetUsersFollowing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUsersFollowingResponse" message="tns:IUserService_GetUsersFollowing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersFollowed">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUsersFollowed" message="tns:IUserService_GetUsersFollowed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUsersFollowedResponse" message="tns:IUserService_GetUsersFollowed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserCompleteProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserCompleteProfile" message="tns:IUserService_GetUserCompleteProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserCompleteProfileResponse" message="tns:IUserService_GetUserCompleteProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocalFollowersByTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetLocalFollowersByTag" message="tns:IUserService_GetLocalFollowersByTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetLocalFollowersByTagResponse" message="tns:IUserService_GetLocalFollowersByTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/SearchUsers" message="tns:IUserService_SearchUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/SearchUsersResponse" message="tns:IUserService_SearchUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FollowUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/FollowUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnfollowUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/UnfollowUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersFollowing">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUsersFollowing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersFollowed">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUsersFollowed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserCompleteProfile">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserCompleteProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalFollowersByTag">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetLocalFollowersByTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <soap:operation soapAction="http://tempuri.org/IUserService/SearchUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://192.168.1.50:8082/Windows/User/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>