Windows Phone/Zoikit.WP - Iteration 1/Hangout.Client/Service References/TagService/TagService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TagService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.50:8082/Windows/Tag/TagService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.50:8082/Windows/Tag/TagService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.50:8082/Windows/Tag/TagService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Tag" />
      <xsd:import schemaLocation="http://192.168.1.50:8082/Windows/Tag/TagService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Follow" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITagService_GetTagByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTagByName" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetTagByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_FollowTag_InputMessage">
    <wsdl:part name="parameters" element="tns:FollowTag" />
  </wsdl:message>
  <wsdl:message name="ITagService_FollowTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:FollowTagResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_UnfollowTag_InputMessage">
    <wsdl:part name="parameters" element="tns:UnfollowTag" />
  </wsdl:message>
  <wsdl:message name="ITagService_UnfollowTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnfollowTagResponse" />
  </wsdl:message>
  <wsdl:portType name="ITagService">
    <wsdl:operation name="GetTagByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/GetTagByName" message="tns:ITagService_GetTagByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/GetTagByNameResponse" message="tns:ITagService_GetTagByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FollowTag">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/FollowTag" message="tns:ITagService_FollowTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/FollowTagResponse" message="tns:ITagService_FollowTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnfollowTag">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/UnfollowTag" message="tns:ITagService_UnfollowTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/UnfollowTagResponse" message="tns:ITagService_UnfollowTag_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITagService" type="tns:ITagService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTagByName">
      <soap:operation soapAction="http://tempuri.org/ITagService/GetTagByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FollowTag">
      <soap:operation soapAction="http://tempuri.org/ITagService/FollowTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnfollowTag">
      <soap:operation soapAction="http://tempuri.org/ITagService/UnfollowTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TagService">
    <wsdl:port name="BasicHttpBinding_ITagService" binding="tns:BasicHttpBinding_ITagService">
      <soap:address location="http://192.168.1.50:8082/Windows/Tag/TagService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>