Windows Phone/Zoikit.WP/Hangout.Client/Service References/FoursquareService/FoursquareService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FoursquareService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:81/Core/Account/FoursquareService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:81/Core/Account/FoursquareService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:81/Core/Account/FoursquareService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Accounts" />
      <xsd:import schemaLocation="http://127.0.0.1:81/Core/Account/FoursquareService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Accounts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFoursquareService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IFoursquareService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IFoursquareService_UpdateFoursquareData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFoursquareData" />
  </wsdl:message>
  <wsdl:message name="IFoursquareService_UpdateFoursquareData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFoursquareDataResponse" />
  </wsdl:message>
  <wsdl:message name="IFoursquareService_GetFoursquareData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFoursquareData" />
  </wsdl:message>
  <wsdl:message name="IFoursquareService_GetFoursquareData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFoursquareDataResponse" />
  </wsdl:message>
  <wsdl:message name="IFoursquareService_GetUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserData" />
  </wsdl:message>
  <wsdl:message name="IFoursquareService_GetUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IFoursquareService">
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoursquareService/RegisterUser" message="tns:IFoursquareService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoursquareService/RegisterUserResponse" message="tns:IFoursquareService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFoursquareData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoursquareService/UpdateFoursquareData" message="tns:IFoursquareService_UpdateFoursquareData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoursquareService/UpdateFoursquareDataResponse" message="tns:IFoursquareService_UpdateFoursquareData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFoursquareData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoursquareService/GetFoursquareData" message="tns:IFoursquareService_GetFoursquareData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoursquareService/GetFoursquareDataResponse" message="tns:IFoursquareService_GetFoursquareData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoursquareService/GetUserData" message="tns:IFoursquareService_GetUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoursquareService/GetUserDataResponse" message="tns:IFoursquareService_GetUserData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFoursquareService" type="tns:IFoursquareService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IFoursquareService/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFoursquareData">
      <soap:operation soapAction="http://tempuri.org/IFoursquareService/UpdateFoursquareData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFoursquareData">
      <soap:operation soapAction="http://tempuri.org/IFoursquareService/GetFoursquareData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserData">
      <soap:operation soapAction="http://tempuri.org/IFoursquareService/GetUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FoursquareService">
    <wsdl:port name="BasicHttpBinding_IFoursquareService" binding="tns:BasicHttpBinding_IFoursquareService">
      <soap:address location="http://127.0.0.1:81/Core/Account/FoursquareService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>