Windows Phone/Zoikit.WP/Hangout.Client/Service References/TextService/TextService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:81/Core/Text/TextService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://127.0.0.1:81/Core/Text/TextService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Text" />
  <xs:import schemaLocation="http://127.0.0.1:81/Core/Text/TextService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Text" />
  <xs:element name="GetUserText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromId" type="xs:int" />
        <xs:element minOccurs="0" name="toId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skipList" nillable="true" type="q1:ArrayOfint" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Text" minOccurs="0" name="GetUserTextResult" nillable="true" type="q2:UserText" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skipList" nillable="true" type="q3:ArrayOfint" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Text" minOccurs="0" name="GetTextResult" nillable="true" type="q4:ArrayOfText" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromId" type="xs:int" />
        <xs:element minOccurs="0" name="toId" type="xs:int" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Text" minOccurs="0" name="SendTextResult" type="q5:TextSentStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkAsRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromId" type="xs:int" />
        <xs:element minOccurs="0" name="toId" type="xs:int" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkAsReadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkAllAsRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkAllAsReadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTextsAfter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromId" type="xs:int" />
        <xs:element minOccurs="0" name="toId" type="xs:int" />
        <xs:element minOccurs="0" name="textId" type="xs:int" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTextsAfterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Text" minOccurs="0" name="GetTextsAfterResult" nillable="true" type="q6:ArrayOfText" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnreadMessagesCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnreadMessagesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUnreadMessagesCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>