Windows Phone/Zoikit.WP/Hangout.Client/Service References/UserLocationService/UserLocationService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Accounts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Accounts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:81/Core/Location/UserLocationService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Model" />
  <xs:import schemaLocation="http://127.0.0.1:81/Core/Location/UserLocationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="UserData">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hangout.Web.Model" minOccurs="0" name="Profile" nillable="true" type="q1:UserProfile" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hangout.Web.Model" minOccurs="0" name="User" nillable="true" type="q2:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserData" nillable="true" type="tns:UserData" />
</xs:schema>