Windows Phone/Zoikit.WP - Iteration 1/Hangout.Client.BackgroundAgent/Service References/AccountService/AccountService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Token" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Token" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserToken">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserToken" nillable="true" type="tns:UserToken" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserToken" nillable="true" type="tns:ArrayOfUserToken" />
  <xs:complexType name="UserToken">
    <xs:sequence>
      <xs:element minOccurs="0" name="Following" type="xs:boolean" />
      <xs:element minOccurs="0" name="NoOfPeopleFollowing" type="xs:int" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="tns:Token" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserToken" nillable="true" type="tns:UserToken" />
  <xs:complexType name="Token">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Token" nillable="true" type="tns:Token" />
</xs:schema>