NotificationTest/NotificationTest/Service References/TokenService/TokenService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TokenService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:81/Core/Token/TokenService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:81/Core/Token/TokenService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:81/Core/Token/TokenService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://127.0.0.1:81/Core/Token/TokenService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Token" />
      <xsd:import schemaLocation="http://127.0.0.1:81/Core/Token/TokenService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Follow" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITokenService_GetTokensFollowed_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTokensFollowed" />
  </wsdl:message>
  <wsdl:message name="ITokenService_GetTokensFollowed_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTokensFollowedResponse" />
  </wsdl:message>
  <wsdl:message name="ITokenService_GetTokenIDFollowedByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenIDFollowedByUser" />
  </wsdl:message>
  <wsdl:message name="ITokenService_GetTokenIDFollowedByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenIDFollowedByUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITokenService_FollowToken_InputMessage">
    <wsdl:part name="parameters" element="tns:FollowToken" />
  </wsdl:message>
  <wsdl:message name="ITokenService_FollowToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:FollowTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ITokenService_UnfollowToken_InputMessage">
    <wsdl:part name="parameters" element="tns:UnfollowToken" />
  </wsdl:message>
  <wsdl:message name="ITokenService_UnfollowToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnfollowTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ITokenService_GetTokensFollowedByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTokensFollowedByUser" />
  </wsdl:message>
  <wsdl:message name="ITokenService_GetTokensFollowedByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTokensFollowedByUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITokenService_GetTokenByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenByID" />
  </wsdl:message>
  <wsdl:message name="ITokenService_GetTokenByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ITokenService_GetTokensInBuzz_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTokensInBuzz" />
  </wsdl:message>
  <wsdl:message name="ITokenService_GetTokensInBuzz_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTokensInBuzzResponse" />
  </wsdl:message>
  <wsdl:message name="ITokenService_FollowTokenByName_InputMessage">
    <wsdl:part name="parameters" element="tns:FollowTokenByName" />
  </wsdl:message>
  <wsdl:message name="ITokenService_FollowTokenByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:FollowTokenByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="ITokenService">
    <wsdl:operation name="GetTokensFollowed">
      <wsdl:input wsaw:Action="http://tempuri.org/ITokenService/GetTokensFollowed" message="tns:ITokenService_GetTokensFollowed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITokenService/GetTokensFollowedResponse" message="tns:ITokenService_GetTokensFollowed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTokenIDFollowedByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITokenService/GetTokenIDFollowedByUser" message="tns:ITokenService_GetTokenIDFollowedByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITokenService/GetTokenIDFollowedByUserResponse" message="tns:ITokenService_GetTokenIDFollowedByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FollowToken">
      <wsdl:input wsaw:Action="http://tempuri.org/ITokenService/FollowToken" message="tns:ITokenService_FollowToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITokenService/FollowTokenResponse" message="tns:ITokenService_FollowToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnfollowToken">
      <wsdl:input wsaw:Action="http://tempuri.org/ITokenService/UnfollowToken" message="tns:ITokenService_UnfollowToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITokenService/UnfollowTokenResponse" message="tns:ITokenService_UnfollowToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTokensFollowedByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITokenService/GetTokensFollowedByUser" message="tns:ITokenService_GetTokensFollowedByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITokenService/GetTokensFollowedByUserResponse" message="tns:ITokenService_GetTokensFollowedByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTokenByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ITokenService/GetTokenByID" message="tns:ITokenService_GetTokenByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITokenService/GetTokenByIDResponse" message="tns:ITokenService_GetTokenByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTokensInBuzz">
      <wsdl:input wsaw:Action="http://tempuri.org/ITokenService/GetTokensInBuzz" message="tns:ITokenService_GetTokensInBuzz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITokenService/GetTokensInBuzzResponse" message="tns:ITokenService_GetTokensInBuzz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FollowTokenByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ITokenService/FollowTokenByName" message="tns:ITokenService_FollowTokenByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITokenService/FollowTokenByNameResponse" message="tns:ITokenService_FollowTokenByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITokenService" type="tns:ITokenService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTokensFollowed">
      <soap:operation soapAction="http://tempuri.org/ITokenService/GetTokensFollowed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTokenIDFollowedByUser">
      <soap:operation soapAction="http://tempuri.org/ITokenService/GetTokenIDFollowedByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FollowToken">
      <soap:operation soapAction="http://tempuri.org/ITokenService/FollowToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnfollowToken">
      <soap:operation soapAction="http://tempuri.org/ITokenService/UnfollowToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTokensFollowedByUser">
      <soap:operation soapAction="http://tempuri.org/ITokenService/GetTokensFollowedByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTokenByID">
      <soap:operation soapAction="http://tempuri.org/ITokenService/GetTokenByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTokensInBuzz">
      <soap:operation soapAction="http://tempuri.org/ITokenService/GetTokensInBuzz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FollowTokenByName">
      <soap:operation soapAction="http://tempuri.org/ITokenService/FollowTokenByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TokenService">
    <wsdl:port name="BasicHttpBinding_ITokenService" binding="tns:BasicHttpBinding_ITokenService">
      <soap:address location="http://127.0.0.1:81/Core/Token/TokenService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>