Windows Phone/Zoikit.WP/Hangout.Client/Service References/PushNotificationService/PushNotificationService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hangout.Web.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:81/Core/PushNotification/PushNotificationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="PushNotification">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChannelURI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q1:EntityReferenceOfUser9O5Tle4q" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PushNotification" nillable="true" type="tns:PushNotification" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccessToken" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Activated" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Blocked" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Compatibilities" nillable="true" type="tns:ArrayOfCompatibility" />
          <xs:element minOccurs="0" name="Compatibilities1" nillable="true" type="tns:ArrayOfCompatibility" />
          <xs:element minOccurs="0" name="DateTimeStamp" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateTimeUpdated" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Exceptions" nillable="true" type="tns:ArrayOfException" />
          <xs:element minOccurs="0" name="Expires" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FacebookData" nillable="true" type="tns:FacebookData" />
          <xs:element minOccurs="0" name="FacebookDataReference" nillable="true" type="q2:EntityReferenceOfFacebookData9O5Tle4q" />
          <xs:element minOccurs="0" name="FacebookUserID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Favourites" nillable="true" type="tns:ArrayOfFavourite" />
          <xs:element minOccurs="0" name="Favourites1" nillable="true" type="tns:ArrayOfFavourite" />
          <xs:element minOccurs="0" name="FoursquareData" nillable="true" type="tns:FoursquareData" />
          <xs:element minOccurs="0" name="FoursquareDataReference" nillable="true" type="q2:EntityReferenceOfFoursquareData9O5Tle4q" />
          <xs:element minOccurs="0" name="HangoutCheckIns" nillable="true" type="tns:ArrayOfHangoutCheckIn" />
          <xs:element minOccurs="0" name="HangoutComments" nillable="true" type="tns:ArrayOfHangoutComment" />
          <xs:element minOccurs="0" name="HangoutPinneds" nillable="true" type="tns:ArrayOfHangoutPinned" />
          <xs:element minOccurs="0" name="Hangouts" nillable="true" type="tns:ArrayOfHangouts" />
          <xs:element minOccurs="0" name="Locale" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Locations" nillable="true" type="tns:ArrayOfLocation" />
          <xs:element minOccurs="0" name="Notifications" nillable="true" type="tns:ArrayOfNotification" />
          <xs:element minOccurs="0" name="PushNotification" nillable="true" type="tns:PushNotification" />
          <xs:element minOccurs="0" name="PushNotificationReference" nillable="true" type="q2:EntityReferenceOfPushNotification9O5Tle4q" />
          <xs:element minOccurs="0" name="Reviews" nillable="true" type="tns:ArrayOfReview" />
          <xs:element minOccurs="0" name="Reviews1" nillable="true" type="tns:ArrayOfReview" />
          <xs:element minOccurs="0" name="Role" nillable="true" type="tns:Role" />
          <xs:element minOccurs="0" name="RoleID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="RoleReference" nillable="true" type="q2:EntityReferenceOfRole9O5Tle4q" />
          <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Texts" nillable="true" type="tns:ArrayOfText" />
          <xs:element minOccurs="0" name="Texts1" nillable="true" type="tns:ArrayOfText" />
          <xs:element minOccurs="0" name="TwitterData" nillable="true" type="tns:TwitterData" />
          <xs:element minOccurs="0" name="TwitterDataReference" nillable="true" type="q2:EntityReferenceOfTwitterData9O5Tle4q" />
          <xs:element minOccurs="0" name="UserBackgroundData" nillable="true" type="tns:UserBackgroundData" />
          <xs:element minOccurs="0" name="UserBackgroundDataReference" nillable="true" type="q2:EntityReferenceOfUserBackgroundData9O5Tle4q" />
          <xs:element minOccurs="0" name="UserBadges" nillable="true" type="tns:ArrayOfUserBadge" />
          <xs:element minOccurs="0" name="UserFollows" nillable="true" type="tns:ArrayOfUserFollow" />
          <xs:element minOccurs="0" name="UserFollows1" nillable="true" type="tns:ArrayOfUserFollow" />
          <xs:element minOccurs="0" name="UserHangouts" nillable="true" type="tns:ArrayOfUserHangout" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
          <xs:element minOccurs="0" name="UserInterestGroupFollows" nillable="true" type="tns:ArrayOfUserInterestGroupFollow" />
          <xs:element minOccurs="0" name="UserProfile" nillable="true" type="tns:UserProfile" />
          <xs:element minOccurs="0" name="UserProfileReference" nillable="true" type="q2:EntityReferenceOfUserProfile9O5Tle4q" />
          <xs:element minOccurs="0" name="UserScores" nillable="true" type="tns:ArrayOfUserScore" />
          <xs:element minOccurs="0" name="UserTokenFollows" nillable="true" type="tns:ArrayOfUserTokenFollow" />
          <xs:element minOccurs="0" name="UserTokens" nillable="true" type="tns:ArrayOfUserToken" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfCompatibility">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Compatibility" nillable="true" type="tns:Compatibility" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompatibility" nillable="true" type="tns:ArrayOfCompatibility" />
  <xs:complexType name="Compatibility">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompatibilityId" type="xs:int" />
          <xs:element minOccurs="0" name="DateTimeUpdated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Score" type="xs:int" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="User1" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="User1ID" type="xs:int" />
          <xs:element minOccurs="0" name="User1Reference" nillable="true" type="q3:EntityReferenceOfUser9O5Tle4q" />
          <xs:element minOccurs="0" name="User2ID" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q3:EntityReferenceOfUser9O5Tle4q" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Compatibility" nillable="true" type="tns:Compatibility" />
  <xs:complexType name="ArrayOfException">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Exception" nillable="true" type="tns:Exception" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfException" nillable="true" type="tns:ArrayOfException" />
  <xs:complexType name="Exception">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClientType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateTimeStamp" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Exception1" nillable="true" type="tns:Exception" />
          <xs:element minOccurs="0" name="Exception1Reference" nillable="true" type="q4:EntityReferenceOfException9O5Tle4q" />
          <xs:element minOccurs="0" name="ExceptionID" type="xs:int" />
          <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Exceptions1" nillable="true" type="tns:ArrayOfException" />
          <xs:element minOccurs="0" name="InnerException" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q4:EntityReferenceOfUser9O5Tle4q" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Exception" nillable="true" type="tns:Exception" />
  <xs:complexType name="FacebookData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q5:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AboutMe" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AccessToken" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Age" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Birthday" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateTimeStamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateTimeUpdated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FacebookID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="LargeProfilePicURL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProfilePicURL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RelationshipStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TimeZone" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q5:EntityReferenceOfUser9O5Tle4q" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FacebookData" nillable="true" type="tns:FacebookData" />
  <xs:complexType name="ArrayOfFavourite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Favourite" nillable="true" type="tns:Favourite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFavourite" nillable="true" type="tns:ArrayOfFavourite" />
  <xs:complexType name="Favourite">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q6:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateTimeStamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FavUserID" type="xs:int" />
          <xs:element minOccurs="0" name="FavouriteID" type="xs:int" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="User1" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="User1Reference" nillable="true" type="q6:EntityReferenceOfUser9O5Tle4q" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q6:EntityReferenceOfUser9O5Tle4q" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Favourite" nillable="true" type="tns:Favourite" />
  <xs:complexType name="FoursquareData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q7:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccessToken" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Bio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateTimeAdded" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateTimeUpdated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FoursquareID" type="xs:long" />
          <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HomeCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhotoPrefix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhotoSuffix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Twitter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q7:EntityReferenceOfUser9O5Tle4q" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FoursquareData" nillable="true" type="tns:FoursquareData" />
  <xs:complexType name="ArrayOfHangoutCheckIn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HangoutCheckIn" nillable="true" type="tns:HangoutCheckIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHangoutCheckIn" nillable="true" type="tns:ArrayOfHangoutCheckIn" />
  <xs:complexType name="HangoutCheckIn">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q8:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClientDateTimeStamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateTimeStamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Hangout" nillable="true" type="tns:Hangouts" />
          <xs:element minOccurs="0" name="HangoutCheckInID" type="xs:int" />
          <xs:element minOccurs="0" name="HangoutID" type="xs:int" />
          <xs:element minOccurs="0" name="HangoutReference" nillable="true" type="q8:EntityReferenceOfHangouts9O5Tle4q" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q8:EntityReferenceOfUser9O5Tle4q" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HangoutCheckIn" nillable="true" type="tns:HangoutCheckIn" />
  <xs:complexType name="Hangouts">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q9:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClientDateTimeStamp" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateTimeStamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HangoutCheckIns" nillable="true" type="tns:ArrayOfHangoutCheckIn" />
          <xs:element minOccurs="0" name="HangoutComments" nillable="true" type="tns:ArrayOfHangoutComment" />
          <xs:element minOccurs="0" name="HangoutDateTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="HangoutID" type="xs:int" />
          <xs:element minOccurs="0" name="HangoutInInterestGroups" nillable="true" type="tns:ArrayOfHangoutInInterestGroup" />
          <xs:element minOccurs="0" name="HangoutPinneds" nillable="true" type="tns:ArrayOfHangoutPinned" />
          <xs:element minOccurs="0" name="Location" nillable="true" type="tns:Location" />
          <xs:element minOccurs="0" name="Location1" nillable="true" type="tns:Location" />
          <xs:element minOccurs="0" name="Location1Reference" nillable="true" type="q9:EntityReferenceOfLocation9O5Tle4q" />
          <xs:element minOccurs="0" name="LocationID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="LocationReference" nillable="true" type="q9:EntityReferenceOfLocation9O5Tle4q" />
          <xs:element minOccurs="0" name="ModerateHangoutRequests" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="ScreenshotLocationID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="StatusText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TokensInHangouts" nillable="true" type="tns:ArrayOfTokensInHangout" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserHangouts" nillable="true" type="tns:ArrayOfUserHangout" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q9:EntityReferenceOfUser9O5Tle4q" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Hangouts" nillable="true" type="tns:Hangouts" />
  <xs:complexType name="ArrayOfHangoutComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HangoutComment" nillable="true" type="tns:HangoutComment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHangoutComment" nillable="true" type="tns:ArrayOfHangoutComment" />
  <xs:complexType name="HangoutComment">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q10:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClientDateTimeStamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CommentText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateTimeStamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Hangout" nillable="true" type="tns:Hangouts" />
          <xs:element minOccurs="0" name="HangoutCommentID" type="xs:int" />
          <xs:element minOccurs="0" name="HangoutID" type="xs:int" />
          <xs:element minOccurs="0" name="HangoutReference" nillable="true" type="q10:EntityReferenceOfHangouts9O5Tle4q" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q10:EntityReferenceOfUser9O5Tle4q" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HangoutComment" nillable="true" type="tns:HangoutComment" />
  <xs:complexType name="ArrayOfHangoutInInterestGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HangoutInInterestGroup" nillable="true" type="tns:HangoutInInterestGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHangoutInInterestGroup" nillable="true" type="tns:ArrayOfHangoutInInterestGroup" />
  <xs:complexType name="HangoutInInterestGroup">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q11:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateTimeStamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Hangout" nillable="true" type="tns:Hangouts" />
          <xs:element minOccurs="0" name="HangoutID" type="xs:int" />
          <xs:element minOccurs="0" name="HangoutInInterestGroupID" type="xs:int" />
          <xs:element minOccurs="0" name="HangoutReference" nillable="true" type="q11:EntityReferenceOfHangouts9O5Tle4q" />
          <xs:element minOccurs="0" name="InterestGroup" nillable="true" type="tns:InterestGroup" />
          <xs:element minOccurs="0" name="InterestGroupID" type="xs:int" />
          <xs:element minOccurs="0" name="InterestGroupReference" nillable="true" type="q11:EntityReferenceOfInterestGroup9O5Tle4q" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HangoutInInterestGroup" nillable="true" type="tns:HangoutInInterestGroup" />
  <xs:complexType name="InterestGroup">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q12:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HangoutInInterestGroups" nillable="true" type="tns:ArrayOfHangoutInInterestGroup" />
          <xs:element minOccurs="0" name="InterestGroupID" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserInterestGroupFollows" nillable="true" type="tns:ArrayOfUserInterestGroupFollow" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InterestGroup" nillable="true" type="tns:InterestGroup" />
  <xs:complexType name="ArrayOfUserInterestGroupFollow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserInterestGroupFollow" nillable="true" type="tns:UserInterestGroupFollow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserInterestGroupFollow" nillable="true" type="tns:ArrayOfUserInterestGroupFollow" />
  <xs:complexType name="UserInterestGroupFollow">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q13:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateTimeStamp" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="InterestGroup" nillable="true" type="tns:InterestGroup" />
          <xs:element minOccurs="0" name="InterestGroupID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="InterestGroupReference" nillable="true" type="q13:EntityReferenceOfInterestGroup9O5Tle4q" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="UserInterestGroupFollowID" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q13:EntityReferenceOfUser9O5Tle4q" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserInterestGroupFollow" nillable="true" type="tns:UserInterestGroupFollow" />
  <xs:complexType name="ArrayOfHangoutPinned">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HangoutPinned" nillable="true" type="tns:HangoutPinned" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHangoutPinned" nillable="true" type="tns:ArrayOfHangoutPinned" />
  <xs:complexType name="HangoutPinned">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q14:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hangout" nillable="true" type="tns:Hangouts" />
          <xs:element minOccurs="0" name="HangoutID" type="xs:int" />
          <xs:element minOccurs="0" name="HangoutPinnedID" type="xs:int" />
          <xs:element minOccurs="0" name="HangoutReference" nillable="true" type="q14:EntityReferenceOfHangouts9O5Tle4q" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q14:EntityReferenceOfUser9O5Tle4q" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HangoutPinned" nillable="true" type="tns:HangoutPinned" />
  <xs:complexType name="Location">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q15:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressLine" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AdminDistrict" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Altitude" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="ClientDateTimeStamp" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CountryRegion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Course" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="DateTimeStamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="District" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FormattedAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Hangouts" nillable="true" type="tns:ArrayOfHangouts" />
          <xs:element minOccurs="0" name="Hangouts1" nillable="true" type="tns:ArrayOfHangouts" />
          <xs:element minOccurs="0" name="HorizontalAccuracy" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="Latitude" type="xs:double" />
          <xs:element minOccurs="0" name="Locality" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocationID" type="xs:int" />
          <xs:element minOccurs="0" name="Longitude" type="xs:double" />
          <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostalTown" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Speed" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q15:EntityReferenceOfUser9O5Tle4q" />
          <xs:element minOccurs="0" name="VerticalAccuracy" nillable="true" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="ArrayOfHangouts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hangouts" nillable="true" type="tns:Hangouts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHangouts" nillable="true" type="tns:ArrayOfHangouts" />
  <xs:complexType name="ArrayOfTokensInHangout">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TokensInHangout" nillable="true" type="tns:TokensInHangout" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTokensInHangout" nillable="true" type="tns:ArrayOfTokensInHangout" />
  <xs:complexType name="TokensInHangout">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q16:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateTimeStamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Hangout" nillable="true" type="tns:Hangouts" />
          <xs:element minOccurs="0" name="HangoutID" type="xs:int" />
          <xs:element minOccurs="0" name="HangoutReference" nillable="true" type="q16:EntityReferenceOfHangouts9O5Tle4q" />
          <xs:element minOccurs="0" name="Token" nillable="true" type="tns:Token" />
          <xs:element minOccurs="0" name="TokenID" type="xs:int" />
          <xs:element minOccurs="0" name="TokenReference" nillable="true" type="q16:EntityReferenceOfToken9O5Tle4q" />
          <xs:element minOccurs="0" name="TokensInHangoutID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TokensInHangout" nillable="true" type="tns:TokensInHangout" />
  <xs:complexType name="Token">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q17:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="TokenDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TokenId" type="xs:int" />
          <xs:element minOccurs="0" name="TokenName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TokensInHangouts" nillable="true" type="tns:ArrayOfTokensInHangout" />
          <xs:element minOccurs="0" name="UserTokenFollows" nillable="true" type="tns:ArrayOfUserTokenFollow" />
          <xs:element minOccurs="0" name="UserTokens" nillable="true" type="tns:ArrayOfUserToken" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Token" nillable="true" type="tns:Token" />
  <xs:complexType name="ArrayOfUserTokenFollow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTokenFollow" nillable="true" type="tns:UserTokenFollow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserTokenFollow" nillable="true" type="tns:ArrayOfUserTokenFollow" />
  <xs:complexType name="UserTokenFollow">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q18:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateTimeStamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Token" nillable="true" type="tns:Token" />
          <xs:element minOccurs="0" name="TokenID" type="xs:int" />
          <xs:element minOccurs="0" name="TokenReference" nillable="true" type="q18:EntityReferenceOfToken9O5Tle4q" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q18:EntityReferenceOfUser9O5Tle4q" />
          <xs:element minOccurs="0" name="UserTokenFollowID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserTokenFollow" nillable="true" type="tns:UserTokenFollow" />
  <xs:complexType name="ArrayOfUserToken">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserToken" nillable="true" type="tns:UserToken" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserToken" nillable="true" type="tns:ArrayOfUserToken" />
  <xs:complexType name="UserToken">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q19:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Score" type="xs:int" />
          <xs:element minOccurs="0" name="Token" nillable="true" type="tns:Token" />
          <xs:element minOccurs="0" name="TokenId" type="xs:int" />
          <xs:element minOccurs="0" name="TokenReference" nillable="true" type="q19:EntityReferenceOfToken9O5Tle4q" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q19:EntityReferenceOfUser9O5Tle4q" />
          <xs:element minOccurs="0" name="UserTokenId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserToken" nillable="true" type="tns:UserToken" />
  <xs:complexType name="ArrayOfUserHangout">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserHangout" nillable="true" type="tns:UserHangout" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserHangout" nillable="true" type="tns:ArrayOfUserHangout" />
  <xs:complexType name="UserHangout">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q20:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateTimeStamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Hangout" nillable="true" type="tns:Hangouts" />
          <xs:element minOccurs="0" name="HangoutID" type="xs:int" />
          <xs:element minOccurs="0" name="HangoutReference" nillable="true" type="q20:EntityReferenceOfHangouts9O5Tle4q" />
          <xs:element minOccurs="0" name="HangoutRequestAccepted" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserHangoutID" type="xs:int" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q20:EntityReferenceOfUser9O5Tle4q" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserHangout" nillable="true" type="tns:UserHangout" />
  <xs:complexType name="ArrayOfLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true" type="tns:Location" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocation" nillable="true" type="tns:ArrayOfLocation" />
  <xs:complexType name="ArrayOfNotification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Notification" nillable="true" type="tns:Notification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotification" nillable="true" type="tns:ArrayOfNotification" />
  <xs:complexType name="Notification">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q21:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateTimeStamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MarkAsRead" type="xs:boolean" />
          <xs:element minOccurs="0" name="MetaData" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NotificationID" type="xs:int" />
          <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q21:EntityReferenceOfUser9O5Tle4q" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Notification" nillable="true" type="tns:Notification" />
  <xs:complexType name="ArrayOfReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Review" nillable="true" type="tns:Review" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReview" nillable="true" type="tns:ArrayOfReview" />
  <xs:complexType name="Review">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q22:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Review1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReviewID" type="xs:int" />
          <xs:element minOccurs="0" name="ReviewedUser" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="User1" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="User1Reference" nillable="true" type="q22:EntityReferenceOfUser9O5Tle4q" />
          <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q22:EntityReferenceOfUser9O5Tle4q" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Review" nillable="true" type="tns:Review" />
  <xs:complexType name="Role">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q23:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="RoleID" type="xs:int" />
          <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ArrayOfText">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Text" nillable="true" type="tns:Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfText" nillable="true" type="tns:ArrayOfText" />
  <xs:complexType name="Text">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q24:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateTimeStamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Text1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TextID" type="xs:int" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="User1" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="User1Reference" nillable="true" type="q24:EntityReferenceOfUser9O5Tle4q" />
          <xs:element minOccurs="0" name="UserFrom" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q24:EntityReferenceOfUser9O5Tle4q" />
          <xs:element minOccurs="0" name="UserTo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Text" nillable="true" type="tns:Text" />
  <xs:complexType name="TwitterData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q25:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccessToken" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateTimeAdded" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateTimeUpdated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FollowersCount" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FollowingCount" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProfileImageURL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ScreenName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TimeZone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TwitterID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q25:EntityReferenceOfUser9O5Tle4q" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TwitterData" nillable="true" type="tns:TwitterData" />
  <xs:complexType name="UserBackgroundData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q26="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q26:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompatibilityCheckDateTimeStamp" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="RefreshFacebookTokenDateTimestamp" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q26:EntityReferenceOfUser9O5Tle4q" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserBackgroundData" nillable="true" type="tns:UserBackgroundData" />
  <xs:complexType name="ArrayOfUserBadge">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserBadge" nillable="true" type="tns:UserBadge" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserBadge" nillable="true" type="tns:ArrayOfUserBadge" />
  <xs:complexType name="UserBadge">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q27="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q27:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Badge" nillable="true" type="tns:Badge" />
          <xs:element minOccurs="0" name="BadgeID" type="xs:int" />
          <xs:element minOccurs="0" name="BadgeReference" nillable="true" type="q27:EntityReferenceOfBadge9O5Tle4q" />
          <xs:element minOccurs="0" name="DateTimeStamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserBadgeID" type="xs:int" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q27:EntityReferenceOfUser9O5Tle4q" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserBadge" nillable="true" type="tns:UserBadge" />
  <xs:complexType name="Badge">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q28="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q28:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BadgeDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BadgeID" type="xs:int" />
          <xs:element minOccurs="0" name="BadgeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BadgePic" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserBadges" nillable="true" type="tns:ArrayOfUserBadge" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Badge" nillable="true" type="tns:Badge" />
  <xs:complexType name="ArrayOfUserFollow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserFollow" nillable="true" type="tns:UserFollow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserFollow" nillable="true" type="tns:ArrayOfUserFollow" />
  <xs:complexType name="UserFollow">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q29="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q29:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateTimeStamp" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FollowUserID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="User1" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="User1Reference" nillable="true" type="q29:EntityReferenceOfUser9O5Tle4q" />
          <xs:element minOccurs="0" name="UserFollowID" type="xs:int" />
          <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q29:EntityReferenceOfUser9O5Tle4q" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserFollow" nillable="true" type="tns:UserFollow" />
  <xs:complexType name="UserProfile">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q30="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q30:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Age" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Bio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Birthday" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateTimeStamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateTimeUpdated" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DefaultLengthUnits" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="LargeProfilePicURL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProfilePicURL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RelationshipStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Timezone" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q30:EntityReferenceOfUser9O5Tle4q" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserProfile" nillable="true" type="tns:UserProfile" />
  <xs:complexType name="ArrayOfUserScore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserScore" nillable="true" type="tns:UserScore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserScore" nillable="true" type="tns:ArrayOfUserScore" />
  <xs:complexType name="UserScore">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q31="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q31:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CurrentScore" type="xs:int" />
          <xs:element minOccurs="0" name="DateTimeStamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ScoreChange" type="xs:int" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q31:EntityReferenceOfUser9O5Tle4q" />
          <xs:element minOccurs="0" name="UserScoreID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserScore" nillable="true" type="tns:UserScore" />
</xs:schema>