Windows Phone/Zoikit.WP/Hangout.Client/Service References/BuzzService/BuzzService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Locations" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Locations" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:81/Core/Buzz/BuzzService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Token" />
  <xs:complexType name="Venue">
    <xs:sequence>
      <xs:element minOccurs="0" name="FoursquareCannonicalURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FoursquareVenueId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCheckedIn" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsFollowing" type="xs:boolean" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoOfCheckedIn" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfFollowing" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Token" minOccurs="0" name="Tokens" nillable="true" type="q1:ArrayOfToken" />
      <xs:element minOccurs="0" name="Twitter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Venue" nillable="true" type="tns:Venue" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="tns:City" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="LocationID" type="xs:int" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="City">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="tns:Country" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="City" nillable="true" type="tns:City" />
  <xs:complexType name="Country">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
</xs:schema>