Windows Phone/Zoikit.WP - Iteration 1/Hangout.Client/Service References/AccountService/AccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.50:8082/Windows/Account/AccountService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.50:8082/Windows/Account/AccountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.50:8082/Windows/Account/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Accounts" />
      <xsd:import schemaLocation="http://192.168.1.50:8082/Windows/Account/AccountService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Status" />
      <xsd:import schemaLocation="http://192.168.1.50:8082/Windows/Account/AccountService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountService_IsConfirmEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:IsConfirmEmail" />
  </wsdl:message>
  <wsdl:message name="IAccountService_IsConfirmEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsConfirmEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_ConfirmEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmEmail" />
  </wsdl:message>
  <wsdl:message name="IAccountService_ConfirmEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_ResendConfirmation_InputMessage">
    <wsdl:part name="parameters" element="tns:ResendConfirmation" />
  </wsdl:message>
  <wsdl:message name="IAccountService_ResendConfirmation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResendConfirmationResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdateUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserData" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdateUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserData" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetCompleteUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompleteUserData" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetCompleteUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompleteUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAvatars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvatars" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAvatars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvatarsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_SaveProfileImage_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveProfileImage" />
  </wsdl:message>
  <wsdl:message name="IAccountService_SaveProfileImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveProfileImageResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdateActivityLog_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateActivityLog" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdateActivityLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateActivityLogResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountService">
    <wsdl:operation name="IsConfirmEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/IsConfirmEmail" message="tns:IAccountService_IsConfirmEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/IsConfirmEmailResponse" message="tns:IAccountService_IsConfirmEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/ConfirmEmail" message="tns:IAccountService_ConfirmEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/ConfirmEmailResponse" message="tns:IAccountService_ConfirmEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResendConfirmation">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/ResendConfirmation" message="tns:IAccountService_ResendConfirmation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/ResendConfirmationResponse" message="tns:IAccountService_ResendConfirmation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/UpdateUserData" message="tns:IAccountService_UpdateUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/UpdateUserDataResponse" message="tns:IAccountService_UpdateUserData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetUserData" message="tns:IAccountService_GetUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetUserDataResponse" message="tns:IAccountService_GetUserData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompleteUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetCompleteUserData" message="tns:IAccountService_GetCompleteUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetCompleteUserDataResponse" message="tns:IAccountService_GetCompleteUserData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvatars">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetAvatars" message="tns:IAccountService_GetAvatars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetAvatarsResponse" message="tns:IAccountService_GetAvatars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveProfileImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/SaveProfileImage" message="tns:IAccountService_SaveProfileImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/SaveProfileImageResponse" message="tns:IAccountService_SaveProfileImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateActivityLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/UpdateActivityLog" message="tns:IAccountService_UpdateActivityLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/UpdateActivityLogResponse" message="tns:IAccountService_UpdateActivityLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountService" type="tns:IAccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsConfirmEmail">
      <soap:operation soapAction="http://tempuri.org/IAccountService/IsConfirmEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmEmail">
      <soap:operation soapAction="http://tempuri.org/IAccountService/ConfirmEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResendConfirmation">
      <soap:operation soapAction="http://tempuri.org/IAccountService/ResendConfirmation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserData">
      <soap:operation soapAction="http://tempuri.org/IAccountService/UpdateUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserData">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompleteUserData">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetCompleteUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvatars">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetAvatars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProfileImage">
      <soap:operation soapAction="http://tempuri.org/IAccountService/SaveProfileImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateActivityLog">
      <soap:operation soapAction="http://tempuri.org/IAccountService/UpdateActivityLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="BasicHttpBinding_IAccountService" binding="tns:BasicHttpBinding_IAccountService">
      <soap:address location="http://192.168.1.50:8082/Windows/Account/AccountService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>