NotificationTest/NotificationTest/Service References/BuzzService/BuzzService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:81/Core/Buzz/BuzzService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://127.0.0.1:81/Core/Buzz/BuzzService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Buzz" />
  <xs:import schemaLocation="http://127.0.0.1:81/Core/Buzz/BuzzService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Follow" />
  <xs:import schemaLocation="http://127.0.0.1:81/Core/Buzz/BuzzService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Model" />
  <xs:import schemaLocation="http://127.0.0.1:81/Core/Buzz/BuzzService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Hangouts" />
  <xs:element name="GetBuzz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skipList" nillable="true" type="q1:ArrayOfint" />
        <xs:element minOccurs="0" name="venueId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="cityId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="categoryId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Buzz" minOccurs="0" name="GetBuzzResult" nillable="true" type="q2:ArrayOfBuzz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzzFollowed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skipList" nillable="true" type="q3:ArrayOfint" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzzFollowedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Buzz" minOccurs="0" name="GetBuzzFollowedResult" nillable="true" type="q4:ArrayOfBuzz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FollowBuzz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="buzzId" type="xs:int" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FollowBuzzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Follow" minOccurs="0" name="FollowBuzzResult" type="q5:FollowResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnfollowBuzz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="hangoutId" type="xs:int" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnfollowBuzzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Follow" minOccurs="0" name="UnfollowBuzzResult" type="q6:FollowResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzzBefore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buzzId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="venueId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="cityId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="categoryId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzzBeforeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Buzz" minOccurs="0" name="GetBuzzBeforeResult" nillable="true" type="q7:ArrayOfBuzz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzzFollowedByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meId" type="xs:int" />
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skipList" nillable="true" type="q8:ArrayOfint" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzzFollowedByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Buzz" minOccurs="0" name="GetBuzzFollowedByUserResult" nillable="true" type="q9:ArrayOfBuzz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalBuzzByToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="tokenId" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skipList" nillable="true" type="q10:ArrayOfint" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalBuzzByTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Buzz" minOccurs="0" name="GetLocalBuzzByTokenResult" nillable="true" type="q11:ArrayOfBuzz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalBuzzByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skipList" nillable="true" type="q12:ArrayOfint" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalBuzzByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Buzz" minOccurs="0" name="GetLocalBuzzByCategoryResult" nillable="true" type="q13:ArrayOfBuzz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzzByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="buzzId" type="xs:int" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzzByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Buzz" minOccurs="0" name="GetBuzzByIDResult" nillable="true" type="q14:Buzz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzzComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="buzzId" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skipList" nillable="true" type="q15:ArrayOfint" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuzzCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Buzz" minOccurs="0" name="GetBuzzCommentsResult" nillable="true" type="q16:ArrayOfBuzzComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBuzzComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="buzzId" type="xs:int" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastCommentId" type="xs:int" />
        <xs:element minOccurs="0" name="zat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBuzzCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Hangout.Web.Services.Objects.Buzz" minOccurs="0" name="AddBuzzCommentResult" nillable="true" type="q17:ArrayOfBuzzComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBuzz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Hangout.Web.Model" minOccurs="0" name="screenshotLocation" nillable="true" type="q18:Location" />
        <xs:element minOccurs="0" name="hangoutDateTime" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="venueId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="cityId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="categoryId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="accesstoken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBuzzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Hangouts" minOccurs="0" name="InsertBuzzResult" type="q19:HangoutSaveStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBuzz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="buzzId" type="xs:int" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Hangout.Web.Model" minOccurs="0" name="screenshotLocation" nillable="true" type="q20:Location" />
        <xs:element minOccurs="0" name="hangoutDateTime" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="venueId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="cityId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="categoryId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="accesstoken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBuzzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Hangout.Web.Core.Hangouts" minOccurs="0" name="UpdateBuzzResult" type="q21:HangoutSaveStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>